<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Credit Portal Task">
	<meta name="author" content="Jan Vaňura">

	<title>{ifset title}{include title|stripHtml} | {/ifset}Credit Portal Task</title>

	{control css}

	{block head}{/block}
</head>

<body class="bg-light">

<nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
	<a class="navbar-brand" n:href="Homepage:">Credit Porta Task</a>
	<button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
		<span class="navbar-toggler-icon"></span>
	</button>


	<div class="navbar-collapse offcanvas-collapse" n:snippet="menu">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" n:href="Homepage:">Úvod</a>
			</li>
			{if $user->isInRole('admin')}
				<li class="nav-item">
					<a class="nav-link" n:href="ThreadAdmin:">Vlákna</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" n:href="UserAdmin:">Uživatelé</a>
				</li>
			{/if}
		</ul>
		<ul class="navbar-nav">
			{if $user->isLoggedIn()}
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="dropdown01" aria-haspopup="true" aria-expanded="false">{$user->identity->data['name']}</a>
					<div class="dropdown-menu" aria-labelledby="dropdown01">
						<a class="dropdown-item" n:href="Password:">Změna hesla</a>
						<a class="dropdown-item" n:href="signOut!">Odhlásit se</a>
					</div>
				</li>
			{else}
				<li class="nav-item">
					<a class="nav-link" n:href="Sign:in">Přihlášení</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" n:href="Sign:up">Registrace</a>
				</li>
			{/if}
		</ul>
	</div>

</nav>

{snippet flashes}
	<div n:if="count($flashes) > 0" class="container mt-2">
		{include './components/flashes.latte'}
	</div>
{/snippet}

{snippet content}
	{include content}
{/snippet}

{block scripts}
	{control js}
{/block}
</body>
</html>

